[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NFWdist"]
	path = NFWdist
	url = https://github.com/asgr/nfwdist
[submodule "celestial"]
	path = celestial
	url = https://github.com/asgr/celestial
[submodule "hyper.fit"]
	path = hyper.fit
	url = https://github.com/asgr/hyper.fit
[submodule "imager"]
	path = imager
	url = https://github.com/asgr/imager
[submodule "magicaxis"]
	path = magicaxis
	url = https://github.com/asgr/magicaxis
[submodule "snapshot"]
	path = snapshot
	url = https://github.com/asgr/snapshot
[submodule "sphereplot"]
	path = sphereplot
	url = https://github.com/asgr/sphereplot
[submodule "tggd"]
	path = tggd
	url = https://github.com/asgr/tggd
